option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: run:app   # Elastic Beanstalk knows how to start your web application.
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: app/static
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1  # 1 to stay in Free Tier
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro  # Free Tier eligible